.nav-header {
 
/*rgb(0,47,167)*/

  position: flex;
  display:flex;
  background:black;
  
}
.nav-right{

}


.nav-header h1{
  color:rgb(0,47,167);
  padding-left:20px;

} 
.link{
  padding-left:145px;
  color: white;
  text-decoration: none;

}
